.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.raceData{
  position: absolute;
  z-index: 2;
  top:0;right:0;
  background-color: #222;
  white-space: pre-wrap;
  padding: 8px;
  border-bottom-left-radius: 8px;
  .racers{
    display: flex;
    flex-direction: column;
    .racer{
      display: flex;
      align-items: center;
      .name{
        width: 100px;
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .times{
        display: flex;
        align-items: center;
        .res{
          padding: 8px;
          font-weight: bold;
          font-size: 80%;
          background-color: #555;
          &.hasFile{
            background-color: #222;
            cursor: pointer;
            &:hover{
              opacity: 0.8;
            }
          }
          &.selected{
            background-color: green;
            color:white;
          }
        }
      }
    }
  }
}